<header class="header">
    <p class="logo">snowflake</p>

    <div class="toggler__container">
        <div class="toggler"></div>
        <div class="toggler"></div>
        <div class="toggler"></div>
    </div>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
                <a href="/register" class="nav__link">Products</a>
            </li>
            <li class="nav__item">
                <a href="/register" class="nav__link">Community Chat</a>
            </li>
            <li class="nav__item">
                <a href="/register" class="nav__link">Contact</a>
            </li>
        </ul>
    </nav>
</header>