<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/register.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@barba/core" defer ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <title>{{title}}</title>
</head>
<body>

    <section class="register__section">
        <div class="image__container">
            <img src="./images/register.jpg" alt="login image">
        </div>
        <form id="registerForm">
            <div class="text__container">
                <h1 class="title">Register</h1>
                <p class="subtitle">Already have an account? <a href="/login" class="link">Login</a></p>
            </div>
            <div class="actions__container">
                <input type="text" name="username" id='username'placeholder="Username">
                <input type="email" name="email" id='email'placeholder="Email">
                <input type="password" name="password" id='password'placeholder="Password">
                <button type="submit">Register</button>
            </div>
        </form>
    </section>
</body>
</html>

